@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* 代码块样式 */
.mockup-code {
  background-color: var(--color-fill-1);
  color: var(--color-text-1);
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}


[arco-theme="dark"] code[class*="language-"], pre[class*="language-"] {
  color: var(--color-text-1);

}